build/*
!build/appicon.png
!build/appicon.svg
!build/windows/
build/windows/*
!build/windows/icon.ico
!build/windows/installer/
build/windows/installer/*
!build/windows/installer/project.nsi
go-e2e
go-e2e.exe
golang-cc
golang-cc.exe
assets/
!frontend/dist/
frontend/dist/*
!frontend/dist/.gitkeep
frontend/wailsjs/
